<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge,8,9">
    <link rel="stylesheet" type="text/css" href="./ReplaceWithAbsolutePath/Template/normalize.css" />
    <style>
        .close-btn {
            font-size: 9pt;
            position: absolute;
            display: block;
            padding: 0em;
            top: 0.5em;
            right: 0.5em;
            overflow: hidden;
        }

            .close-btn a img {
                width: 1em;
                height: 1em;
            }
    </style>
</head>
<body>
    [[body]]
    <span class="close-btn">
        <a href="javascript:window.external.Close()">
            <img src="./ReplaceWithAbsolutePath/Template/image/x.png" />
        </a>
    </span>
</body>
</html>