<!doctype html>
<html ng-app="myApp">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<head>
    <script type="text/javascript" src="./ReplaceWithAbsolutePath/_Src/Template/angular.min.js"></script>
    <script type="text/javascript" src="./ReplaceWithAbsolutePath/_Src/Template/app.js"></script>

    <script src="./ReplaceWithAbsolutePath/_Src/Template/angular-sanitize.min.js"></script>

    <link rel="stylesheet" href="./ReplaceWithAbsolutePath/_Src/Template/notification.css">
</head>
<body>


    <script type="text/javascript">
      //var msg={"id":"FmanunsG","title":"Found results forrr","body":"","type":"notice","datetime":"2017-01-26 15:56:35","links":"Amivoice>http://www.advanced-media.co.jp/&&XXX>YYY.com&&XXX2>YYY.com&&XXX3>YYY.com&&XXX4>YYY.com&&XXX5>YYY.com&&XXX6>YYY.com","duration":-1};
        var msg = [[messageJson]]
        var path = "./ReplaceWithAbsolutePath/";
    </script>

    <div ng-controller="myController">
        <msg></msg>
    </div>

</body>
</html>
